@charset "UTF-8";

:root {
  --blanco: #ffe4e1;
  --rosita: #ffd1cc;
  --negro: #191919;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--negro);
  background-color: var(--blanco);
}

.cajaTxt {
  width: 70%;
  margin: 0% 15%;
}

nav {
  width: 100%;
  margin: 0% 0% 0%;
  border-radius: 10px;
  background-color: var(--negro);
}

.menuLaberinto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menuLaberinto a {
  display: inline;
  width: 33.3333%;
  padding: 1% 0%;
  font: normal 1.1em/1em 'Ysabeau', serif;
  text-align: center;
  text-decoration-line: none;
  color: var(--blanco);
}

.menuLaberinto a:hover {
  background-color: var(--blanco);
  color: var(--negro);
}

.menuLaberinto .activo {
  background-color: var(--blanco);
  color: #c969c9;
  animation-name: fondoCuerpo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.ornaMenu {
  font-size: .7em;
}

section canvas {
  width: 100%;
  margin: 0% 0% 0%;
  background-color: #3300ab;
  overflow: visible;
  border-radius: 0px 0px 10px 10px;
}

h1, h2, h3, h4, p, pre {
  font-family: 'Alegreya';
}

h1 {
  font: normal 3em/1em 'Alegreya', serif;
  text-align: right;
  margin: 2% 0%;
  padding: 2% 3%;
  background-color: var(--negro);
  color: var(--rosita);
  border-style: solid;
  border-color: #c969c9;
  border-width: 5px 10px 0px 0px;
  border-radius: 10px 10px;
}

h2 {
  font: normal 1.5em/1em 'Alegreya', serif;
  padding: 0% 0% 3%;
}

h4 {
  font: normal 1em/1em 'AlegreyaSC', serif;
  width: 50%;
  text-align: center;
}

header span {
  font: normal italic normal 1em/1.3em 'Alegreya', serif;
  padding: 2% 0%;
  text-align: center;
}

p {
  width: 80%;
  margin: 2% 0%;
  padding: 0% 5%;
  font: normal 1.4em/1.4em 'Alegreya', serif;
  text-align: justify;
}

pre {
  font: normal 1.2em/1.4em 'Alegreya', serif;
}

.ornaDing {
  text-align: center;
  color: #c969c9;
}

figure {
  width: 30%;
  margin: 0% 35%;
  background-color: var(--negro);
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  border-color: #c969c9;
  border-radius: 0px 50px 50px 0px;
}

figure img {
  width: 90%;
  margin: 0% 0% 0% 10%;
  border-radius: 0px 30px 30px 0px;
}

figcaption {
  font: normal 1.2em/1.4em 'Alegreya', serif;
  color: var(--negro);
  background-color: #c969c9;
  border-radius: 0px 0px 30px 0px;
  text-align: center;
}

.versalitas {
  font-variant: small-caps;
  letter-spacing: 2px;
}

footer {
  width: 100%;
  height: 20vh;
  color: var(--blanco);
  background-image: url(img/fondoNegro.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

footer .fDeli {
  width: 33.33%;
}

footer a {
  text-decoration-line: none;
}

footer .fDeli h3 {
  width: 90%;
  margin: 0% 5%;
  font: normal 2.5vw/1em 'Ysabeau', serif;
  text-align: center;
  color: var(--blanco);
  font-weight: 200;
  padding: 2% 0%;
  border-radius: 10px;
}

footer .fDeli .deliT { 
  font-family: 'Ysabeau SC', serif;
}

footer .fDeli img {
  width: 70%;
  margin: 0% 15%;
}

footer nav {
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

footer nav a {
  font: normal 1.2vw/1.4em 'Flamenco', serif;
  color: var(--blanco);
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
}

footer .fRS {
  width: 33.33%;
}

footer .fRS a, p {
  font: normal 1.2vw/1.2em 'Flamenco', serif;
  color: var(--blanco);
}

@media only screen and (max-width: 670px) {
  
  body {
    background-color: var(--negro);
    color: var(--blanco);
    animation-name: fondoCuerpo;
    animation-iteration-count: infinite;
    animation-duration: 30s;
  }

  @keyframes fondoCuerpo {
    0%  {background-color: var(--negro) }
    50%  {background-color: #212121 }
    100%  {background-color: var(--negro) }
  }
  
  .cajaTxt {
    width: 90%;
    margin: 0% 5%;
  }

  nav {
    width: 70%;
    margin: 5% 15% 0%;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--rosita);
  }

  .menuLaberinto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menuLaberinto a {
    display: inline;
    width: 100%;
    padding: .5% 0%;
    font: normal 1em/1.3em 'Alegreya', serif;
    text-align: center;
    text-decoration-line: none;
    color: var(--negro);
  }

  .menuLaberinto a:hover {
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 10px 10px 10px 10px;
  }

  .menuLaberinto .activo {
    background-color: var(--blanco);
    color: var(--negro);
    animation-name: fondoCuerpo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  .ornaMenu {
    font-size: .8em;
    color: #3300ab;
  }


  h1 {
    font-size: 2em;
    padding: 2% 5% 0%;
  }

  h2 {
    font-size: 1.2em;
  }

  h4 {
    width: 100%;
    font-size: 1em;
    padding: 5% 0%;
  }

  p {
    width: 90%;
    margin: 2% 0%;
    padding: 0% 5%;
    font: normal 1em/1.4em 'Alegreya', serif;
  }

  pre {
    font-size: 1em;
  }
}