@charset "UTF-8";

:root {
  --blanco: #FFF5EE;
  --negro: #191919;
}

body {
  background-color: var(--blanco);
  color: var(--negro);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.cajaTxt {
  width: 70%;
  margin: 0% 15%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section canvas {
  width: 100%;
  margin: 0% 0% 0%;
  background-color: #ab0033;
  overflow: visible;
  border-radius: 0px 0px 10px 10px;
}

h1, h2, h3, p, pre {
  font-family: 'Alegreya';
}

h1 {
  font: normal 2.5em/1em 'Alegreya', serif;
  padding: 3% 0% 0%;
}

h2 {
  font: normal 1.5em/1em 'Alegreya', serif;
  padding: 0% 0% 3%;
}

h3 {
  font: normal 1em/1em 'AlegreyaSC', serif;
  width: 50%;
  text-align: center;
}

header span {
  font: normal italic normal 1em/1.3em 'Alegreya', serif;
  padding: 2% 0%;
  text-align: center;
}

p {
  font: normal 1em/1.3em 'Alegreya', serif;
}

pre {
  font: normal 1.1em/1.4em 'Alegreya', serif;
}

#v1c1::first-letter {
  text-transform: uppercase;
  color: #008b8b;
}

.ornamenta {
  text-align: center;
  margin: 0% 0% 2%;
}

.versalitas {
  font-variant: small-caps;
  letter-spacing: 2px;
}

.botones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.botones div {
  width: 40%;
  margin: 1% 1%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.botones div:hover {
  background-color: var(--negro);
}

#primerBoton {
  background-image: url(img/mundi.jpg);
  background-position: 0% 50%;
  background-blend-mode: exclusion;
}

#primerBoton:hover {
  background-color: #ab0033;
}

#segundoBoton {
  background-image: url(img/temaPiedad.jpg);
  background-position: 0% 3%;
  background-color: #FFB6C1;
  background-blend-mode: difference;
}

#segundoBoton:hover{
  background-color: #4682B4;
}

#tercerBoton {
  background-image: url(img/cristoZurbaran.jpg);
  background-position: 0% 25%;
  background-blend-mode: difference;
  background-color: #663399;
}

#tercerBoton:hover {
  background-blend-mode: luminosity;
}

#laberintoBoton {
  background-image: url(img/Gentileschi.jpg);
  background-position: 90% 20%;
  
  mix-blend-mode: difference;
}

#laberintoBoton:hover {
  background-color: #8b00b8;
  background-blend-mode: exclusion;
}

button {
  font: italic normal normal 1em/1.2em '', monospace;
  padding: 3% 10%;
  border-width: 0px;
  border-radius: 10px;
}

@media only screen and (max-width: 670px) {
  
  body {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  .cajaTxt {
    width: 90%;
    margin: 0% 5%;
  }

  header {
    margin: 5% 0%;
  }

  main {
    margin: 2% 0%;
  }

  h1 {
    font-size: 2.2em;
    padding: 5% 0% 0%;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    width: 100%;
    font-size: 1em;
    padding: 5% 0%;
  }

  pre {
    font-size: 1em;
  }

}