@charset "UTF-8";

:root {
  --blanco: #FFF5EE;
  --negro: #191919;
}

body {
  background-color: var(--blanco);
  color: var(--negro);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.cajaTxt {
  width: 70%;
  margin: 0% 15%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, p, pre {
  font-family: 'Alegreya';
}

h1 {
  font: normal 2.5em/1em 'Alegreya', serif;
  padding: 2% 0%;
}

h2 {
  font: normal 1em/1em 'AlegreyaSC', serif;
  width: 50%;
  text-align: center;
}

h3 {

}

header span {
  font: normal italic normal 1em/1.3em 'Alegreya', serif;
  padding: 2% 0%;
  text-align: center;
}

p {
  
}

pre {
  font: normal 1.1em/1.4em 'Alegreya', serif;
}

.versalitas {
  font-variant: small-caps;
  letter-spacing: 2px;
}

button {
  font: italic normal normal 1em/1.2em '', monospace;
  padding: 5px 10px;
  border: none;
  background-color: coral;
}

button:hover {
  background-color: #90EE90;
  color: var(--blanco);
}

@media only screen and (max-width: 670px) {
  
  body {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  .cajaTxt {
    width: 90%;
    margin: 0% 5%;
  }

  header {
    margin: 5% 0%;
  }

  main {
    margin: 2% 0%;
  }

  h1 {
    font-size: 2em;
    padding: 3% 0%;
  }

  h2 {
    width: 100%;
    font-size: 1em;
    padding: 5% 0%;
  }

}